{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'shop/css/profile.css' %}">
{% endblock %}

{% block content %}
<section class="profile-section">

<div class="container mt-5">
    <div class="row">

    <!-- LEFT PANEL -->
    <div class="col-md-3">
        <div class="card text-center p-3">

        <img src="{{ user.profile.profile_image.url }}"
        class="rounded-circle mx-auto"
        width="120" height="120">

        <h5 class="mt-2">{{ user.username }}</h5>
        <small>{{ user.email }}</small>

        <hr>

        <a href="#" class="d-block mb-2">My Profile</a>
        <a href="#" class="d-block mb-2">Orders</a>
        <a href="#" class="d-block mb-2">My Cart</a>
        <a href="{% url 'logout' %}" class="d-block text-danger">Logout</a>

        </div>
    </div>

    <!-- RIGHT PANEL -->
    <div class="col-md-9">
        <div class="card p-4">

        <h4>Profile Information</h4>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

        <div class="mb-3">
            <label>First Name</label>
            {{ form.first_name }}
            </div>

        <div class="mb-3">
            <label>Last Name</label>
            {{ form.last_name }}
        </div>

            <div class="mb-3">
            <label>Email</label>
            {{ form.email }}
            </div>

    <div class="mb-3">
            <label>Profile Picture</label>
            {{ form.profile_image }}
    </div>

    <button class="btn btn-primary">Update Profile</button>

        </form>

    </div>
    </div>

    </div>
</div>
</section>
{% endblock %}