.profile-wrapper {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

/* LEFT CARD */

.profile-sidebar {
    width: 260px;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,.08);
    text-align: center;
}

.profile-sidebar img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-sidebar h5 {
    margin: 5px 0;
}

.profile-sidebar p {
    font-size: 14px;
    color: gray;
}

.profile-sidebar a {
    display: block;
    padding: 8px;
    margin-top: 8px;
    text-decoration: none;
    color: #333;
}

.profile-sidebar a:hover {
    background: #f2f2f2;
    border-radius: 6px;
}

/* RIGHT SIDE */

.profile-content {
    flex: 1;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,.08);
}

.profile-content h4 {
    margin-bottom: 20px;
}

.profile-content label {
    font-weight: 500;
}

.profile-content input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.profile-content button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
}

/* MOBILE */

@media(max-width:768px){
    .profile-wrapper{
        flex-direction: column;
    }

    .profile-sidebar{
        width:100%;
    }
}