/* GLOBAL */
/* HERO SECTION */
.hero-service {
    background: url('../images/clean01.jpg') center/cover no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
    ;
}

.hero-service::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(10,26,47,0.6);
}

.hero-content {
    position: relative;
    z-index: 2;
    margin-right: 1000px;
    margin-bottom: 50px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
    color: #fff;
    
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 25px;
    
}

.cta-btn {
    display: inline-block;
    background: #1B98E0;
    padding: 12px 30px;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 70px;
    margin-right: 20px;

}

/* SERVICES GRID */
.services-section {
    padding: 60px 20px;
    text-align: center;
    color: black;
}

.services-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.service-card {
    background: #7c83ab;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: #fff;
}

.service-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

.service-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.service-card h3 {
    margin: 15px 0 10px;
    font-size: 20px;
}

/* BOOKING FORM */
.service-form-section {
    background: #fff;
    color: #000108;
    padding: 50px 20px;
    max-width: 700px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.service-form-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.service-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.service-form input,
.service-form select,
.service-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.submit-btn {
    background: #1B98E0;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #147ab3;
}